ctransformers==0.2.5
sentence-transformers==2.2.2
pinecone-client
langchain==0.0.225
langchain_pinecone
langchain_community
flask
pypdf
pinecone_text
python-dotenv
-e .

#-e . - When you run the pip install -r requirements.txt. If -e . is present then it will run setup.py and install setup.py. After that you can see Medical Chatbot.egg-info file (contains metadata) and   
